unity-project/Build
unity-project/Temp
unity-project/Library
unity-project/Obj
unity-project/Assets/StreamingAssets
unused_assets
**/*.meta
**/*.csproj
**/*.unityproj
**/*.sln
**/*.user
**/*.userprefs
**/*.DS_store